form {
  width: 500px;
  display: inline-block;
  padding: 20px;
  background-color: rgb(12, 218, 241);
}
form label {
  display: inline-block;
  width: 150px;
}
form div {
  margin: 15px;
}
.App {
  text-align: center;
}
a {
  font-size: 2rem;
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(138, 234, 86);
}
.internalLabel {
  width: auto;
}
.profilePic {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border: 2px solid gray;
}
